<h1>Listing trips</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Passenger</th>
    <th>Start</th>
    <th>Start</th>
    <th>Start</th>
    <th>End</th>
    <th>Appointment</th>
    <th>CreateAt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.id %></td>
    <% if trip.passenger %>
     <td><%= trip.passenger.name %></td>
    <% else %>
     <td> nil </td>
    <% end %>
    <td><%= trip.start %></td>
    <td><%= trip.start_lat %></td>
    <td><%= trip.start_lng %></td>
    <td><%= trip.end %></td>
    <td><%= trip.appointment %></td>
    <td><%= trip.created_at %></td>
    <td><a href="/conversations?trip_id=<%=trip.id%>"><%= trip.conversations.count %></a></td>
    <td><%= link_to 'Show', trip %></td>
    <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
    <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
