<%= form_for(@conversation) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul>
      <% @conversation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_id %><br />
    <%= f.number_field :from_id %>
  </div>
  <div class="field">
    <%= f.label :to_id %><br />
    <%= f.number_field :to_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :status_desc %><br />
    <%= f.text_field :status_desc %>
  </div>
  <div class="field">
    <%= f.label :passenger_id,'passenger' %><br />
    <%= f.select :passenger_id,Passenger.all.map { |passenger| [passenger.name,passenger.id] } %>
  </div>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :start_lat %><br />
    <%= f.text_field :start_lat %>
  </div>
  <div class="field">
    <%= f.label :start_lng %><br />
    <%= f.text_field :start_lng %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.text_field :end %>
  </div>
  <div class="field">
    <%= f.label :appointment %><br />
    <%= f.text_field :appointment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
