<h1>Listing conversations</h1>

<table>
  <tr>

    <th>id</th>
    <th>From Id</th>
    <th>From</th>
    <th>To Id</th>
    <th>To</th>
    <th>Status</th>
    <th>Status desc</th>
    <th>create at</th>
    <th>Passenger</th>
    <th>Start</th>
    <th>Start</th>
    <th>Start</th>
    <th>End</th>
    <th>Appointment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conversations.each do |conversation| %>
  <tr>

    <td><%= conversation.id%></td>
    <td><%= conversation.passenger.id %></td>
    <td><%= conversation.passenger.name %></td>
    <td><%= conversation.driver.id %></td>
    <td><%= conversation.driver.name %></td>
    <td><%= conversation.status %></td>
    <td><%= conversation.status_desc %></td>
    <% if  conversation.passenger %>
     <td><%= conversation.passenger.name %></td>
    <% else %>
     <td> nil </td>
    <% end %>
    <td><%= conversation.start %></td>
    <td><%= conversation.start_lat %></td>
    <td><%= conversation.start_lng %></td>
    <td><%= conversation.end %></td> | 
    <td><%= conversation.appointment %></td>
    <td><%= conversation.created_at %></td>
    <td><%= link_to 'Show', conversation %></td>
    <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
    <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conversation', new_conversation_path %>
